
<div class="container">
<div class="start">Press space to jump</div>
    <div class="game">
        {{!-- <img src="./assets/dino-stationary.png" alt="" id="character"> --}}
        <!-- <div id="character"></div> -->
        <div id="block" ></div>
        <!-- <div id="blockB"></div> -->
        <!-- <img src="./assets/ground.png" alt="" class="ground"> -->
    </div>
    <p>Score: <span id="scoreSpan"></span></p>
</div>

<script src="../public/js/game.js"></script>
