
<div class="container">
    <div class="game">
        <div class="start">
            <p id="gameState" >To jump press...</p>
            <br>
            <p id="jumpKey">Space</p>
        </div>
        <img src="./assets/idle.gif" alt="" id="character">
        <!-- <div id="character"></div> -->
        <div id="block" class="hidden"></div>
        <!-- <img src="./assets/ground.png" alt="" class="ground"> -->
    </div>
    <p class="score">Score: <span id="scoreSpan"></span></p>
</div>
<script src="./js/game.js"></script>
