<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Springbot!</title>
    <link rel="icon" type="image/x-icon" href="./assets/favi.png">
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  {{!-- <div class="flex-column justify-space-around"> --}}

    {{!-- Navbar --}}
    <header>

  {{!-- Scores BTN --}}
    {{#if logged_in}}
      <nav class="navLeft">
        <ul class="navLeftLinks">
           <div class="loginBtn">
            <a href="/scores" id="viewscores">Scores</a>
          </div>
        </ul>
      </nav>
      {{else}}
       <nav class="navLeft">
        <ul class="navLeftLinks">
            <li><a href="/login" id="viewscores" class="disabled">Scores</a></li>
        </ul>
      </nav>
      {{/if}}

    {{!-- Title --}}
      <h1 class="title">
        <a href="/">Springbot</a>
      </h1>

    {{!-- Login and Profile buttons --}}
      <nav>
        <ul>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
           <div class="logoutBtn">
            <a id="logout" href="/login">Logout</a>
          </div>
        {{else}}
        <li>
          <div class="loginBtn">
            <a href="/login">Login</a>
          </div>
          </li>
        {{/if}}
        </ul>
      </nav>
    </header>

    {{!-- Main --}}
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}
</body>


</html>