
<div class="gameContainer">
    <div class="game">
        <div class="start">
            <p id="gameState" >To jump press...</p>
            <br>
            <p id="jumpKey">Space</p>
        </div>
        <img src="./assets/idle.gif" alt="" id="character">
        <!-- <div id="character"></div> -->
        <div id="block" class="hidden"></div>
        <!-- <img src="./assets/ground.png" alt="" class="ground"> -->
    </div>
    <p id="score">Score: <span id="scoreSpan"></span></p>
     {{#if logged_in}}
         <div class="saveBtn">
            <button id="saveScore">Save Score</button>
          </div>
          {{/if}}
    {{!-- <button type="button" id="easy">Easy</button>
    <button type="button" id="normal">Normal</button>
    <button type="button" id="hard">Hard</button> --}}
    
</div>
<script src="./js/game.js"></script>
