<h1 class="scoreTitle">High Scores</h1>

<div class="scoreContainer">

<div class="userScoreCard">
    <h2> <img class="trophy" src="./assets/trophy.png" /> My Top 10 <img class="trophy" src="./assets/trophy.png" /></h2>
    {{#if logged_in}}
  <div class="scoreInfo">
       {{#each scores as |score|}}
  <h4>- {{score.username}}: {{score.score}}</h4>
        {{/each}}
  </div>
  {{/if}}
</div>

<div class="globalScoreCard">
  <h2><img class="globe" src="./assets/globe.png" /> Global Top 10 <img class="globe" src="./assets/globe.png" /></h2>
    <div class="scoreInfo">
       {{#each scores as |score|}}
  <h4>- {{score.username}}: {{score.score}}</h4>
        {{/each}}
  </div>
</div>

</div>

<img class="destroyed" src="./assets/destroyed.png" />
