<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Time!</title>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="flex-column justify-space-around">

    {{!-- Header --}}
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">Super Jumper</a>
      </h1>
      {{#if logged_in}}
      <h4>
        Welcome {{user.username}}!
      </h4>
      {{/if}}
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/scores" id="viewscores">View Scores</a>
        <a href="/logout" class="no-button" id="logout">Logout</a>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>

    {{!-- Main --}}
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

    {{!-- Footer --}}
    <footer>
      <p>Footer</p>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}
</body>


</html>