@import '../scss/variables', '../scss/button', '../scss/navbar', '../scss/login' ;

// Global Styles ----------------------------------------

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'VT323', monospace;
}

.hidden {
  display: none;
}

// Game Styles ----------------------------------------

.gameContainer {

  p{
    text-align: center;
  }
}

  .start {
    padding: 0;
    margin-top: 100px;
  }
  
  .game {
    width: 500px;
    height: 400px;
    border: 1px solid $blk-gba;
    margin: auto;
    margin-top: 10vh;
    overflow: hidden;
    user-select: none;
    background-color: $dark-gba;
    color: $mid-gba;
  }

#jumpKey {
  font-size: 20px;
  color: white;
}

#score {
  padding-top: 20px;
  font-size: 20px;
}

#character {
  width: 50px;
  height: 50px;
  pointer-events: none;
  /* background-color: red; */
  position: relative;
  top: 150px;
  margin-left: 100px;
}

  .animate{
    animation: jump 0.3s linear;
  }
  
  @keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    50%{top: 90px;}
    55%{top: 80px;}
    70%{top: 100px;}
    100%{top: 150px;}
  }
  
  .ground {
    position: absolute;
    top: 340px;
  }
  
  #block {
    /* background-color: #e0f8cf; */
    background-image: url("../assets/bomb.png");
    width: 20px; 
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
  }
  
  @keyframes block{
    0%{left: 500px}
    100%{left: -20px}
  }

  .saveBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    @include buttonStyles;
  }

  // #scoreForm {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   margin-top: 10px;

  //   input {
  //     margin-top: 30px;
  //   }
  // }

  