*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  .start {
    padding: 0;
    margin-top: 100px;
  }
  
  .game{
    width: 500px;
    height: 400px;
    border: 1px solid black;
    margin: auto;
    margin-top: 20vh;
    overflow: hidden;
  }
  #character{
    width: 50px;
    height: 50px;
    /* background-color: red; */
    position:relative;
    top: 150px;
    margin-left: 100px;
  }
  .animate{
    animation: jump 0.3s linear;
    @include keyframes(jump){
      0%{top: 150px;}
    30%{top: 100px;}
    50%{top: 90px;}
    55%{top: 80px;}
    70%{top: 100px;}
    100%{top: 150px;}
    }
  }
  
  // @keyframes jump{
  //   0%{top: 150px;}
  //   30%{top: 100px;}
  //   50%{top: 90px;}
  //   55%{top: 80px;}
  //   70%{top: 100px;}
  //   100%{top: 150px;}
  // }

  .hidden {
    display: none;
  }
  
  .ground {
    position: absolute;
    top: 340px;
  }
  
  #block{
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
  }
  
  @keyframes block{
    0%{left: 500px}
    100%{left: -20px}
  }
  
  p{
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  